*{
    margin: 0px 0px;
    padding: 0px;
}
.box1{
    box-shadow: 0px 0px 10px white;
    height: 400px;
    margin-left: 20px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49 214 255);
}
.box2{
    color: white;
    box-shadow: 0px 0px 10px white;
    height: 400px;
    margin-right: 20px;
    width: 300px;    
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(190 96 255);
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    min-height: 70vh; 
}
.head1 , .head2{
    text-align: center;
}
button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 30px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    background-color: rgb(255, 255, 255);   
}
button:hover{
    transform: scale(1.1);
    transition: 0.6s;
    background: rgb(171, 67, 255);
    box-shadow: 0px 0px 20px cyan;
}
button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 30px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    background-color: rgb(255, 255, 255);  
}
.btn:hover{
    transform: scale(1.1);
    transition: 0.6s;
    background: rgb(0, 232, 253);
}
input{
    padding: 10px;
    margin: 0px 5px;
    width: 80%;
    border:2px solid cyan;
    font-size: 20px;
    background: rgb(227, 227, 227);
    border-radius: 10px;
    height: 40px;
    border: none;
}
input:hover{
    transform: scale(1.1);
    background-color: rgb(239, 240, 255);
}
body{
    background: linear-gradient(to left, aqua,rgb(193, 93, 255),aqua)
}
.txt, .txt2{
    text-align: center;
}
.txt2{
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 50px;
    font-size: 20px;
}
.icon i{
    padding: 5px 20px;
    display: flex;
    border: 2px solid white;
    justify-content:  center;
    border-radius: 10px;
    margin: 15px 10px;
}
.icon i:hover {
  transform: scale(1.1);
  transition: 0.4s;
  background-color: rgb(24, 255, 255);
  box-shadow: 0px 0px 20px cyan;
}
.icon{
    display: flex;
    justify-content:center;
}
.pic{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}
.pic img{
    width: 50px;
    object-fit: cover;
    height: 200px;
    margin-bottom: 60px;
    margin: 0px 1px;
    border-width: 2px;
    border-color: black;
    border-style: outset;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
}
.pic img:hover{
    width: 100px;
    height: 200px;
    transition: 0.4s all ease-in-out;
}
.head{
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    text-shadow: 0px 0px 10px rgb(98, 145, 255);
}
#result, #score{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 20px;
    width: fit-content;
    padding: 10px 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}